@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --moss: #053F27;
  --cream: #F3F0DD;
  --seaweed: #08170B;
  --jade: #19785C;
  --mint: #5ABD99;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: var(--font-jost), sans-serif;
  background-color: var(--cream);
  color: var(--seaweed);
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--cream);
}

::-webkit-scrollbar-thumb {
  background: var(--moss);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--jade);
}
